# Rust
target/*
.cache/.cargo/*
contracts/**/target/*

# C
contracts/c/build/*

# others
build/*
!.gitkeep
.tmp/

contracts/ckb-multisig/ckb-lib-secp256k1/build/

# cargo
vendor
orig-tests/target
orig-tests/specs